.header {
  height: 80px;
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .inline {
    font-weight: 500;
    font-size: xx-large;
    display: inline-block;
    color: white;
    margin: 0;
    margin-left: 15px;
  }

  .header-description {
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
  }

  .menu-btn {
    color: rgba(255, 255, 255, 0.87);
    margin-right: 10px;
  }

  .dropdown-content {
    margin-right: 20px;
  }
}

.dark-theme-color {
  background-color: #c2185b;
}

@media (max-width: 450px) {
  .header {
    .title {
      .inline {
        display: block;
      }

      .inline {
        font-size: x-large;
      }

      .header-description {
        font-size: large;
        margin-left: 15px;
      }
    }

    .wraper {
      .menu-btn mat-icon {
        font-size: 25px;
      }
    }
  }

  .mat-menu-item-name {
    font-size: 16px;
  }
}





