<mat-card>
  <h1>Contacts</h1>
  <div class="main-part-footer">
    <div class="info-footer">
      <div class="contact-title">Email:</div>
      <a>mihail.ya777&#64;gmail.com</a>
    </div>

    <div class="info-footer">
      <div class="contact-title">Skype:</div>
      <div>yank.od</div>
    </div>

    <div class="info-footer">
      <div class="contact-title">GitHub:</div>
      <div>mihail-yankovskyi</div>
    </div>

    <div class="info-footer">
      <div class="contact-title">Address:</div>
      <div>Hannover, Germany</div>
    </div>
  </div>
</mat-card>
