.level {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #8c9eff;
  margin: 16px;
  display: inline-block;
}

.titleSkill {
  width: 16.6%;
  display: inline-block;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: auto !important;
}

.skill-wrapper {
  display: flex;
  align-items: center;
}

@media all and (min-width: 390px) and (max-width: 429px) {
  .skill-wrapper {
    margin: 5px 0;
  }

  .level {
    width: 10px;
    height: 10px;
    margin: 6px;
  }

  .titleSkill {
    font-size: 13px;
    width: 28%;
  }

  .mdc-list-item {
    padding-left: 10px !important;
    padding-right: 5px !important;
  }
}

@media all and (min-width: 430px) and (max-width: 450px) {
  .skill-wrapper {
    margin: 5px 0;
  }

  .level {
    width: 11px;
    height: 11px;
    margin: 6px
  }

  .titleSkill {
    font-size: 15px;
    width: 28%;
  }
}
