.level {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #8c9eff;
  margin: 16px;
  display: inline-block;
}

.titleSkill {
  width: 16.6%;
  display: inline-block;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: auto !important;
}

.skill-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .skill-wrapper {
    margin: 5px 0;
  }

  .level {
    width: 11px;
    height: 11px;
    margin: 6px
  }

  .titleSkill {
    font-size: 15px;
    width: 28%;
  }
}
