.level {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #8c9eff;
  margin: 16px;
  display: inline-block;
}

.titleSkill {
  width: 16.6%;
  display: inline-block;
}

@media (max-width: 450px) {
  .level {
    width: 11px;
    height: 11px;
    margin: 6px
  }

  .titleSkill {
    font-size: 15px;
    width: 28%;
  }
}
