<app-header
(openSidenav)="onOpenSidenav($event)"
(isDarkThemeSend)="onChangeTheme($event)"
></app-header>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    position="end"
    [autoFocus]="false">
    <mat-tab-group
      #tabGroup
      mat-align-tabs="start"
      (selectedTabChange)="onTabClicked($event)">
      <mat-tab label="Contacts">
        <div class="main-part">
          <!--*ngIf="selectedIndex === 0"-->
          <div class="info">
            <div class="contact-title">email:</div>
            <a
              class="email"
              href="mailto:mihail.ya777@gmail.com"
              [class.dark-theme-color]="isDarkTheme"
            >mihail.ya777&#64;gmail.com</a>
          </div>

          <div class="info">
            <div class="contact-title">skype:</div>
            <div>yank.od</div>
          </div>

          <div class="info">
            <div class="contact-title">github:</div>
            <div>mihail-yankovskyi</div>
          </div>

          <div class="info">
            <div class="contact-title">address:</div>
            <div>Hannover, Germany</div>
          </div>
          <div class="wraperCloseButton">
            <button
              mat-flat-button
              class="closeButton"
              [class.dark-theme-border-color]="isDarkTheme"
              (click)="sidenav.close()"
            >Close</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Technologies" >
        <div class="technologies-content">
          <!--*ngIf="selectedIndex === 1" -->
          <div class="wraper-sidebar-technologies-header">
            <p class="sidebar-technologies-header">Technologies used for this site</p>
          </div>

          <mat-list>
            <mat-list-item>Angular</mat-list-item>
            <mat-list-item>TypeScript</mat-list-item>
            <mat-list-item>Angular Material</mat-list-item>
            <mat-list-item>HTML</mat-list-item>
            <mat-list-item>CSS</mat-list-item>
          </mat-list>

          <div class="wraperCloseButton">
            <button
              mat-flat-button
              class="closeButton"
              [class.dark-theme-border-color]="isDarkTheme"
              (click)="sidenav.close()"
            >Close</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-summary></app-summary>
    <app-sections></app-sections>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

